
.app {
  background-color: rgb(45, 199, 178);
  text-align: center;
  display: flex;
}

.app-header {
  background-color: #1a1b1b;
  display: flex;
  margin-bottom: 5px;
}

.heading {
  font-size: xx-large;
  font-style: oblique;
  font: cursive;
  color: rgb(32, 127, 204);
  display: flex;
  margin: 40px 20px 20px 20px;
}

.app-header img {
  max-height: 100px;
} 

.app-footer {
  color: black;
}

.media-player {
  width: 70%;
}

.media-player img {
  max-width: 100%;
}

.movie-list {
  float: right;
  width: 30%;
}

.movie-box {
  display: flex;
}

.movie-box img {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.movie-box div {
    margin: 10px;
    padding: 5px;
}

.movie-box h4 {
  margin: 5px 10px 5px 0px;
}

.movie-box p {
  color: grey;
}

.filter-button {
  display: flex;
  margin: 5px
}

#reset-movies {
  margin: 0px 0px 0px 5px;
}