.app {
  text-align: center;
  display: flex;
  background-color: lightcyan;
}

.media-player {
  max-width: 70%;
}

.media-player img {
  max-width: 100%;
}

.movie-list {
  float: right;
  width: 30%;
  background-color: lightcyan;
}

.movie-box {
  display: flex;
}

.movie-box img {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.movie-box div {
    margin: 10px;
    padding: 5px;
}

.movie-box h4 {
  margin: 5px 10px 5px 0px;
}

.movie-box p {
  color: grey;
}

.filter-button {
  display: flex;
}

#reset-movies {
  margin: 10px;
}